player-connection-mode=Listen
player-connection-guid=570070072
player-connection-debug=0
player-connection-project-name=Radioactive Fear
player-connection-ip=10.0.0.81
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
build-guid=164bbd22be084006b5256e877e2dd57a
